.t-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.logo {
    height: 150px;
    width: 100%;
    background-color: burlywood;
}
.footer {
    height: 36px;

}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: aliceblue;

}
.main {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
table {
    width: 70%;
    height: auto;
}
tr,th, td {
    border: 1px solid gray;
}
.nav {
    margin-top: 12px;
}
td {
    height: 150px;
    width: 150px;
    padding: 0;
    text-align: center;

}
img{
    height: 150px;
    width: 150px;
    display: block;
}